[mysqld]
# Drupal DB tweaks - https://groups.drupal.org/node/289613
key_buffer_size = 32M
max_allowed_packet = 16M
tmp_table_size = 64M
max_heap_table_size = 64M
query_cache_size = 4M
query_cache_limit = 256K
thread_cache_size = 128
